<html>
<head>
   <link rel="stylesheet" href="../static/analys.css">
</head>
<body>
    <div>
        <a href="/"><button>Домой</button></a>
    </div>
    <div id="over" style="position:relative; width:100%; height:80%;">
        <img src="/plot.png?type={{type}}" alt="my plot">
    </div>
</body>
</html>
