<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP - Hello world!</title>
</head>
<body>
    <div>
        <a href="/"><button>Домой</button></a>
    </div>
    {{data | safe}}
</body>
</html>